.navbar-white {
  background-color: white;
  color: #0067a9;
}

.main-header {
  border-bottom: 1px solid #dee2e6;
  z-index: 1034;
}
.navbar-expand {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.avatar {
  border-radius: 60%;
  /* border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; */
  width: 70px;

}

.image img {
  transition: all 0.5s
}

.btn {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.name {
  font-size: 22px;
  font-weight: bold
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #0067a9;
  color: white;
  font-size: 15px
}
