
.form-control:focus {
  box-shadow: none;
  border-color: #0067a9
}

.profile-button {
  background: #0067a9;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #0067a9
}

.profile-button:focus {
  background: #0067a9;
  box-shadow: none
}

.profile-button:active {
  background: #0067a9;
  box-shadow: none
}

.back:hover {
  color: #0067a9;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #0067a9;
  color: #fff;
  cursor: pointer;
  border: solid 1px #0067a9
}
